@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root
{
    --header-height: 3rem;
    /* Web page Colors */
    --first-color: #e74c3c;
    --first-color-alt: #e9321e;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;
    /* Font and typography*/
    --body-font: 'Poppins', sans-serif; 
    --biggest-font-size: 2.25rem; /* Utilizo rem porque la medida depende del elemento raiz y no del contenedor*/
    --h1-font-size: 1.5rem;       /* 1 rem = 16px 1.5rem = 24px */
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    /* Font Weight*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /* Margenes */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}
*
{
    font-family: var(--body-font);
}
/* NAVBAR*/
.navbar
{
    background-color: #f4f6f7 !important;
    opacity: 90%;
}
.title_logo
{
    color: var(--first-color);
    font-size: var(--font-medium);
}
.nav-item a
{
    color: var(--title-color) !important;
    font-size: var(--font-medium) !important;
}
.navbar-nav a:hover
{
    color: var(--first-color-alt) !important;
}
/* MODAL */
.ubication
{
    width:500px;
    height:450px;
}
/* BUTTON NAVBAR */
.btn
{
    color: var(--title-color);
    background-color: var(--first-color);
    border: none;
}
.btn:hover
{
    color: var(--body-color);
    background-color: var(--first-color-alt);
}
/* CAROUSEL */
.titulo-carousel
{
    color: var(--body-color);
    z-index: 1000;
}
.carousel-inner img 
{
    height: 92vh;
}
/* ABOUT */ 
.col-history
{
    transform: translateY(4rem);
}
.title_about
{
    color: var(--title-color);
    transform: translateY(1rem);
    padding-left: 2rem;
}
.title_about span
{
    color: var(--first-color-alt);
}
.description_about
{
    transform: translateY(1.5rem);
    font-size: 1rem;
    padding-left: 2rem;
}
.img-about
{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    transform: translateY(2rem);
}
/* SERVICES */
.title-body span
{
    color: var(--first-color-alt);
}
.container_services
{
    text-align: center;
}
.tiltle_services
{
    text-align: center;
}
.container-type-services
{
    display: flex;
    text-align: center;
}
.services-img
{
    width: 8rem;
    height: 8rem;
}
.info-services
{
    font-size: var(--h3-font-size);
    padding-top: 1rem;
}
/* ICON STICKY*/
.ws-contact
{
    position: fixed;
    display: flex;
    right: 1rem;
    bottom: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: #27ae60;
    border-radius: 1.7rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    text-decoration: none;
}
.ws-icon
{
    font-size: 2rem;
    color: var(--body-color);
}
.ws-contact:hover
{
    background: #138d75;
}
.location
{
    position: fixed;
    display: flex;
    right: 1rem;
    bottom: 5rem;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: var(--first-color-alt);
    border: none;
    border-radius: 1.7rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    text-decoration: none;
}
.location-icon
{
    color: var(--body-color);
    font-size: 2rem;
}
.location:hover
{
    background: var(--first-color);
}
/* MENU */
.container-title-menu
{
    padding-top: 1rem;
}
.container-title-menu img
{
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.5rem;
}
.card
{
    border-radius: 1.2rem;
    overflow: hidden;
}
.card .span-effect 
{
    transition: 0.5;
    opacity: 0;
}

.card:hover .span-effect 
{
    opacity: 1;
}

.card .span-effect:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, var(--first-color-alt));
    animation: animate1 2s linear infinite;
}
@keyframes animate1
{
    0%
    {
        transform: translateX(-100%)
    }
    100%
    {
        transform: translateX(100%)
    }
}
.card .span-effect:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, var(--first-color-alt));
    animation: animate2 2s linear infinite;
}
@keyframes animate2
{
    0%
    {
        transform: translateY(-100%)
    }
    100%
    {
        transform: translateY(100%)
    }
}
.card .span-effect:nth-child(3)
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, var(--first-color-alt));
    animation: animate3 2s linear infinite;
}
@keyframes animate3
{
    0%
    {
        transform: translateX(100%)
    }
    100%
    {
        transform: translateX(-100%)
    }
}
.card .span-effect:nth-child(4)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, var(--first-color-alt));
    animation: animate4 2s linear infinite;
}
@keyframes animate4
{
    0%
    {
        transform: translateY(100%)
    }
    100%
    {
        transform: translateY(-100%)
    }
}
.card-bg-burger
{
    background-color: var(--body-color);
    box-shadow: 0 2px 4px rgba(3,74,40,0.15);
}
.card-bg-beer
{
    background-color: var(--body-color);
    box-shadow: 0 2px 4px rgba(3,74,40,0.15);
}
.title-menu
{
    padding-top: 1rem;
    color: var(--title-color);
}
.text-menu
{
    font-size: var(--font-semi-bold);
    color: var(--text-color);
}
/* FOOTER */
.btn-facebook-icon
{
    color: #3b5998;
    font-size: 2rem;
    text-decoration: none;
}
.btn-facebook-icon:hover
{
    background: none;
    color: white;
}
.btn-twitter-icon
{
    color: #26a7de;
    font-size: 2rem;
    text-decoration: none;
}
.btn-twitter-icon:hover
{
    background: none;
    color: white;
}
.btn-instagram-icon
{
    color: var(--first-color-alt);
    font-size: 2rem;
}
.btn-instagram-icon:hover
{
    background: none;
    color: white;
}
/* MEDIA QUERYS */
@media (max-width: 375px)
{
    .carousel-item img 
    {
      height: 12rem;
    }
    .carousel-inner
    {
        padding-right: 1rem;
    }
    .container_about img
    {
        width: 100%;
        height: 60%;
    }
    iframe
    {
        width: 100%;
        height: 100%
    }
}
@media (max-width: 415px)
{
    .carousel-item img 
    {
      height: 12rem;
    }
    .carousel-inner
    {
        padding-right: 0.5rem;
    }
    .col-history
    {
        transform: translateY(0.5rem);
    }
    .title_about
    {
        transform: translateY(0);
        padding-left: 0;
    }
    .description_about
    {
        transform: translateY(0);
        padding-left: 0;
    }
    iframe
    {
        width: 100%;
        height: 100%
    }
}
@media (max-width: 768px) and (height:1024px)
{
    .carousel-item img 
    {
      height: 30rem;
    }
    .carousel-inner
    {
        padding-right: 1rem;
    }
    .col-history
    {
        transform: translateY(1rem);
    }
    iframe
    {
        width: 100%;
        height: 100%
    }
    .info
    {
        margin-top: 1px !important;
    }
    .text-menu
    {
        font-size: 0.9rem;
    }
    .cost
    {
        margin-top: 1px !important;
    }
}

  